<%= render "shared/third-header"%>
<%= render "shared/header"%>
<div class='title-contents'>
  <div class='service-title'>
    さあ、学問を学ぼう！ scholarはあなたのPOSTを待っています
  </div>
</div>
<%= link_to(new_scholar_path, class: 'post-red-btn') do %>
  <span class='post-btn-blue-text'>POST</span>
<%end%>
<%# 投稿一覧 %>
<%= render "shared/post"%>
<%#/ 投稿一覧 %>

<%= render "shared/footer" %>

