<header class='top-page-header'>
  <%# 検索機能 %>
  <%= search_form_for @q, url: scholar_category_path do |f|%>
    <%= f.collection_select :category_id_eq, Category.where.not(id:0), :id, :name, include_blank: "カテゴリー検索" %>
    <%= f.submit '検索' %>
  <% end %>
  <%# /検索機能 %>

  <div class='nav'>
   <h2 class='header-content-head'>scholar</h2>
    <ul class='lists-left'>
      <% if user_signed_in?%>
        <li><%= link_to "#{current_user.nickname}さん",user_path(current_user.id), class: "user-nickname" %></li>
        <li><%=link_to 'ログアウト', destroy_user_session_path, method: :delete,class: "logout"%>
      <% else %>
        <li><%=link_to 'ログイン', new_user_session_path, class: "logout"%>
        <li><%=link_to '新規登録', new_user_registration_path,class: "sign-up"%>
      <% end %>
    </ul>
  </div>
</header>
