<header class='top-page-header'>
  <%= search_form_for @q, url: scholar_category_path do |f|%>
    <%= f.collection_select :category_id_eq, Category.where.not(id:1), :id, :name %>
    <%= f.submit '検索' %>
  <% end %>

  <div class='nav'>
   <div class='header-content-head'>scholar</div>
    <ul class='lists-left'>
      <% if user_signed_in?%>
        <li><%= link_to "#{current_user.nickname}さん",user_path(current_user.id), class: "user-nickname" %></li>
        <li><%=link_to 'log out', destroy_user_session_path, method: :delete,class: "logout"%>
      <% else %>
        <li><%=link_to 'log-in', new_user_session_path, class: "log-in"%>
        <li><%=link_to 'sign-up', new_user_registration_path,class: "sign-up"%>
      <% end %>
    </ul>
  </div>
</header>
