<header class='top-page-header'>
  <div class='nav'>
   <h2 class='header-content-head'>scholarガイド</h2>
    <ul class='list-left'>
      <li><%= link_to 'scholarについて', "#", class: "our-list"%><li>
      <li><%= link_to 'カテゴリー', "#", class: "category-list"%><li>
    </ul>
    <ul class='lists-left'>
      <% if user_signed_in?%>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%=link_to 'ログアウト', destroy_user_session_path, method: :delete,class: "logout"%>
          <% else %>
            <li><%=link_to 'ログイン', new_user_session_path, class: "logout"%>
            <li><%=link_to '新規登録', new_user_registration_path,class: "sign-up"%>
            <% end %>
    </ul>
  </div>
</header>
