 <%= render "shared/third-header"%>
 <%= render "shared/header" %>
  <h2>
    <%= @category.name %>
  </h2>
  <ul class='lists'>
    <% @scholars.each do |scholar| %>
    <li class='list'>
      <%= link_to scholar_path(scholar.id) do %>
        <div class='scholar-info'>
          <div class='scholar-img-content'>
            <%= image_tag scholar.image.variant(resize: '200x200'), class: 'scholar-img' %>
          </div>
          <div class='scholar-title'>
            <%= truncate(scholar.title, length:15) do%>
            <%= link_to "続きを読む" ,scholar_path(scholar.id),class:"scholar-read" %>
            <%end%>
          </div>
        </div>
      <% end %>
    <% end %>
    </li>
  </ul>
  <%= paginate @scholars %>

  <%= render "shared/footer" %>
  

  