<div class='scholars-contents'>
  <div class="scholars-main">
    <h2 class="scholars-title">あなたの知識を投稿しよう！</h2>
    <%= form_with(model: @scholar, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <%# タイトルカテゴリー %>
    <div class="scholars-detail">
      <div class="weight-bold-text">タイトルカテゴリー</div>
        <div class="form">
          <div class="weight-bold-text">
            カテゴリー
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
        </div>
    </div>
    <%# /タイトルカテゴリー %>
    
    <%# 投稿画像 %>
    <div class="imag-upload">
      <div class="weight-bold-text">
        投稿画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
       <p>
        クリックしてファイルをアップロード
       </p>
       <%= f.file_field :image, id:"scholars-image" %>
      </div>
    </div>
    <%# /投稿画像 %>

    <%# タイトルと内容 %>
    <div class="new-scholars">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"scholars-title", id:"scholar-name", placeholder:"タイトル（必須 50字まで)", maxlength:"50" %>
      <div class="scholars-explain">
        <div class="weight-bold-text">
          内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"scholars-text", id:"scholars-info", placeholder:"タイトル内容（必須 1,000文字まで)" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /タイトルと内容 %>

    <%# 下部ボタン%>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"post-btn" %>
      <%= link_to '戻る', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン%>

    <%= render "shared/footer" %>
  </div>
  <% end %>
</div>    
    