<%= render "shared/third-header"%>
<%= render "shared/second-header"%>
<%= render "shared/header"%>
<div class='main'>
<%# 画面上部の画像部分%>
  <div class='title-contents'>
    <div class='service-title'>
      さあ、学問を学ぼう！ scholarはあなたのPOSTを待っています
    </div>
  </div>
<%# /画面上部の画像部分%>

<%# 投稿機能 %>
<%= link_to(new_scholar_path, class: 'post-red-btn') do %>
  <span class='post-btn-text'>POST</span>
<%end%>
<%# /投稿機能 %>

 <%# ピックアップカテゴリー%>
 <div class='scholar-contens'>
  <h2 class='title'>What's news</h2>
  <%= render "shared/post"%>
</div>
<%# ピックアップカテゴリー%>
  
<%= render "shared/second-footer"%>