<%= render "shared/header"%>
<div class='main'>

<%# 画面上部の画像部分%>
  <div class='title-contents'>
    <h2 class='service-title'>
      あなたの投稿で世界を変えよう
    </h2>
    <p class='service-explain'>
      scholarはあなたの投稿を待っています
    </p>
  </div>
<%# /画面上部の画像部分%>

<%# 投稿機能 %>
<%= link_to(new_scholar_path, class: 'post-btn') do %>
  <span class='post-btn-text'>投稿する</span>
  <%#= image-tag '' , size: '185x50 ,class: "post-btn-icon" %>
<%end%>
<%# /投稿機能 %>

 <%# ピックアップカテゴリー%>
 <div class='scholar-contens'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <ul class='scholar-lists'>
      <% @scholars.each do |scholar|%>
      <li class='list'>
       <%= link_to scholar_path(scholar.id) do %>
        <div class='scholar-info'>
          <h3 class='scholar-name'>
            <%= scholar.user.nickname %>
          </h3>
          <h3 class='scholar-category'>
            <%= scholar.title %>
          </h3>
        <div class='scholar-img-content'>
         <%= image_tag scholar.image.variant(resize: '200x200'), class: 'scholar-img'if scholar.image.attached? %>
        </div>
        </div>
       <% end %>
      </li>
     <% end %>
    </ul>
    <%= paginate @scholars %>
  </div>
  <%# ピックアップカテゴリー%>

  


<%= render "shared/footer" %>