<%= render "shared/third-header"%>
<%= render "shared/header" %>

<%# scholarの概要 %>
<div class="scholar-show">
  <div class="scholar-box">
    <h2 class="name">
      <%= @scholar.category.name %>
    </h2>
    <div class="scholar-img-content">
      <%= image_tag @scholar.image.variant(resize: '300x300'), class:"scholar-box-img" %>
    </div>
    <h2 class="name">
      <%= simple_format(@scholar.title) %>
    </h2>
    <h2 class="name">
      <%= simple_format(@scholar.text) %>
    </h2>
    <h2 class="name">
      <%= @scholar.user.nickname %>
    </h2>
  <div class = destory-btn>
  <% if user_signed_in? %>
    <% if current_user.id == @scholar.user_id %>
      <%= link_to "編集",edit_scholar_path(@scholar.id), method: :get, class: "scholar-blue-btn" %>
      <%= link_to "削除", scholar_path(@scholar.id), method: :delete, class:"scholar-destroy"%>
    <% end %>
  <% end %>
  </div>
  <div class="option">気に入った投稿にはいいねを押そう！ここをクリック！
    <div id = "like-<%= @scholar.id %>">
      <%= render 'likes/like' , { scholar: @scholar} %>
    </div>
  </div>
</div>
<%# /scholarの概要 %>
<% if user_signed_in? %>
<div class="comment-box">
  <%= form_with model:[@scholar, @message] do |f| %>
  <%= f.text_field :text, class:"comment-text" %>
  <p class="comment-warn">
    相手のことを考え丁寧なコメントを心がけましょう。
  </p>
  <%= f.button "コメント", type: "submit", class: "comment-btn" do %>
    <span>コメントする<span>
  <% end %>
 <% end %>
  <div id='messages'>
    <% @messages.reverse_each do |message| %>
      <p><%= message.text %></p>
    <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>