<%= render "shared/header" %>

<%# scholarの概要 %>
<div class="scholar-show">
  <div class="scholar-box">
    <h2 class="name">
      <%= @scholar.category.name %>
    </h2>
    <h2 class="name">
      <%= @scholar.title %>
    </h2>
    <div class="scholar-img-content">
      <%= image_tag @scholar.image.variant(resize: '500x500'), class:"scholar-box-img" if @scholar.image.attached?%>
    </div>
    <h2 class="name">
      <%= @scholar.text %>
    </h2>
    <h2 class="name">
      <%= @scholar.user.nickname %>
    </h2>
  <% if user_signed_in? %>
    <% if current_user.id == @scholar.user_id %>
      <%= link_to "編集",edit_scholar_path(@scholar.id), method: :get, class: "scholar-blue-btn" %>
     <p class="or-text">or</p>
      <%= link_to "削除", scholar_path(@scholar.id), method: :delete, class:"scholar-destroy"%>
    <% end %>
  <% end %>
  <div class="option">
    <div id = "like-<%= @scholar.id %>">
      <%= render 'likes/like' , { scholar: @scholar} %>
    </div>
  </div>
</div>
<%# /scholarの概要 %>

<div class="comment-box">
  <%= form_with model:[@scholar, @message] do |f| %>
  <%= f.text_field :text, class:"comment-text" %>
  <p class="comment-warn">
    相手のことを考え丁寧なコメントを心がけましょう。
  </p>
  <%= f.button "コメント", type: "submit", class: "comment-btn" do %>
    <%#= image_tag "comment.png", class:"comment-flag-icon" ,width:"20",height:"25" %>
    <span>コメントする<span>
  <% end %>
 <% end %>
  <div id='messages'>
    <% @messages.reverse_each do |message| %>
      <p><%= message.text %></p>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>