<!DOCTYPE html>
<html>
  <head>
  <link href="tablet.css" rel="stylesheet" type="text/css" media="(min-width: 320px) and (max-width: 639px)" >
<link href="tablet.css" rel="stylesheet" type="text/css" media="(min-width: 640px) and (max-width: 1023px)" >
<link href="desktop.css" rel="stylesheet" type="text/css" media="(min-width: 1024px)" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholar34547</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
